/** Add css rules here for your application. */


.author{
	float: right;
}

*{
	padding: 4px;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.container { 
	background-color: #EFFBFF;
	padding: 1.5em;
}

.rounded-corners {
	border-radius: 25px;
}

.dateandcat {
	margin-bottom: 1em;
}

.article-block {
	padding: 1.5em 1.5em 0 1.5em;
}

.comment-block {
	padding: 1.5em 1.5em 0 1.5em;
}

.title {
	text-align: center;
}